{% extends 'base.html.twig' %}

{% block title %}R6 Random!{% endblock %}

{% block body %}
	<div class="container">
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="#">Action</a>
								</li>
								<li>
									<a class="dropdown-item" href="#">Another action</a>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="#">Something else here</a>
								</li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<main>
			<div class="py-5 text-center mt-5">
				<h2>R6 Random</h2>
				<p class="lead">Tu es Platine et tu souhaite faire partie des meilleurs? Alors deviens Bronze IV grace au selecteur de peronnage et de tactique intelligent ! ! !</p>
			</div>

			<div class="row g-3">
			{# defense #}
				<div class="col-md col-lg order-md-last d-flex flex-column align-items-center">
					<h4 class="mb-3 text-muted">Defense</h4>
					<h5 id="idDefender"></h5>						
					<div class="w-50" id="defenderSVG"></div>			
					
					<p id="tacticalDefender"></p>
					<button class="btn btn-secondary" id="btnDefender" type="button" data-bs-toggle="collapse">shuffle</button>
				</div>

				{# Attack #}
				<div class="col-md col-lg d-flex flex-column align-items-center">
					<h4 class="mb-3 text-muted">Attack</h4>
					<h5 id="idAttacker"></h5>
					<div class="w-50" id="attackerSVG"></div>
					
					<p id="tacticalAttacker"></p>
					<button class="btn btn-secondary" id="btnAttacker" type="button" data-bs-toggle="collapse">shuffle</button>
				</div>
			</div>
		</main>

		<footer class="my-5 pt-5 text-muted text-center text-small">
			<p class="mb-1">© 2022</p>
			<ul class="list-inline">
				<li class="list-inline-item">
					<a href="#">Privacy</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Terms</a>
				</li>
				<li class="list-inline-item">
					<a href="#">Support</a>
				</li>
			</ul>
		</footer>
	</div>
	<script src="anime.min.js">
	
	</script>
{% endblock %}
